body,
html {

  overflow-y: auto;

}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

* {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

* {
  -ms-overflow-style: none;
}

.work-main {
  display: block;

  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 2.5fr 6fr;
  gap: 0px;
  overflow: hidden;

}

.work-main>div:nth-child(2).item-container {
  /* overflow-y: auto !important; */ 
  /* removed the above to only have vertical overflow in body tag 14/12 */
  min-height: 0;
}

.item-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  min-height: 0;
  /* allow shrink inside scrollable parent */
}

.item-container.no-gap {
  gap: 0;
  /* remove default gap */
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

/* for multi photo gallery */
.img-gallery {
  margin-top: 2em;
  margin-bottom: 2em;

  min-height: 400px;
  justify-content: flex-start;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  overflow-y: hidden;
  box-sizing: border-box;
  align-items: center;
  scroll-snap-type: x mandatory;
  /* justify-content: center;   */
  /* this is not working */
  /* <-- this centers the images vertically */
}

.img-gallery#installation {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 5px;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: center;
  scroll-snap-type: x mandatory;
  padding: 0 1em;
  /* <-- this centers the images vertically */
}

.img-gallery#installation>div {

  flex: 0 0 auto;
  scroll-snap-align: center;
  box-sizing: border-box;
  margin: 0 1em;

}

.img-gallery.sliding {
  margin-left: 8em;

}

.img-gallery>div {
  flex: 0 0 auto;
  scroll-snap-align: center;
  text-align: center;
  /* center text under image */
  margin: 0 0em;

}

/* images */

.img-gallery img {
  max-height: 400px;
  display: block;
  object-fit: contain;
}



.img-gallery#transfiguration {
  margin-top: 2em;
  margin-bottom: -4em;
  display: flex;
  /* margin-left: 8em; */
  margin-right: auto;
  padding: 0;
  min-height: 500px;
  gap: 10px;
  overflow-x: auto;
  overflow-y: visible;
  /* so captions are visible */
  align-items: flex-start;
  /* top-align images + captions */
  scroll-snap-type: x mandatory;

}

.img-gallery#transfiguration>div {
  flex: 0 0 auto;
  text-align: center;
}

#singular img {
  margin-left: auto;
  margin-right: auto;
}

#singular video {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.4em 0 4em 0;
}

.gallery-caption {
  font-size: 0.9em;
  color: rgb(78, 74, 74);
  font-family: "Hoover", monospace;
  margin: 0 auto;
  display: block;

}

#modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 9999;

}

#modal img {
  max-width: 80vw;
  max-height: 80vh;
  /* box-shadow:0 4px 20px rgba(0,0,0,0.25); */
  cursor: pointer;
}

.img-text-center {
  width: 100%;
  /* take full width of the image container */
  max-width: 500px;
  /* same as image width */
  margin: 0 auto;
  /* centers horizontally */
  font-family: "Hoover", monospace;
  line-height: 20px;

  letter-spacing: 1px;
  transform: scaleY(1.2);

  font-size: 0.9em;
  margin-bottom: 2em;
  max-width: 500px;
  text-align: justify;
  justify-content: center;
  overflow: visible;
  color: rgb(78, 74, 74);
}


.img-text {
  margin-left: auto;
  margin-right: auto;
  font-family: "Hoover", monospace;
  line-height: 20px;

  letter-spacing: 1px;
  transform: scaleY(1.2);

  font-size: 0.9em;
  margin-bottom: 2em;
  max-width: 500px;
  text-align: justify;
  justify-content: center;
  overflow: visible;
  color: rgb(78, 74, 74);

}

#notes {
  padding-bottom: 2em;

  display: flex;
  flex-direction: column;

  text-align: justify;
  justify-content: center;
}

#notes img {
  margin-top: 0.4em;
  margin: 0 auto;
}


#reference-gallery {
  min-height: 250px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  gap: 0;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: center;
  scroll-snap-type: x mandatory;
}

#reference-gallery.reference-gallery-wombtemples img {
  max-height: 300px;

}

#reference-gallery>div {
  flex: 0 0 auto;
  scroll-snap-align: center;
  text-align: center;
  /* center text under image */
  margin: 0 0em;

}

#reference-gallery img {
  max-height: 250px;
  display: block;
  object-fit: contain;
}

#notes .img-gallery {
  margin-bottom: 2em;
  min-height: 300px;
  display: flex;
  margin-left: auto;
  margin-right: auto;

  overflow-x: auto;
  overflow-y: hidden;
  align-items: center;
  scroll-snap-type: x mandatory;
  /* <-- this centers the images vertically */
}

#notes.img-gallery>div {
  flex: 0 0 auto;
  scroll-snap-align: center;
  text-align: center;
  /* center text under image */
  margin: 0 0em;

}



#notes .img-gallery img {
  max-height: 300px;
  display: block;
  object-fit: contain;
}

#notes .img-gallery #smallerimage img {
  width: 40%;
  display: block;
  object-fit: contain;
}


.wider-video-wrapper {
  width: 100%;
  /* full width of container */
  max-width: 600px;
  height: auto;
  /* adjusts automatically */
  margin: 0 auto;
  text-align: center;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;



  /* overflow: hidden; */
}

.wider-video-video {
  width: 100%;
  /* fills container width */
  height: auto;
  /* keeps aspect ratio */
  display: block;
  /* removes extra spacing */
  object-fit: contain;
  /* ensures full video is visible */
  max-height: 600px;
}


.video-wrapper {
  width: 300px;
  /* set the "cropped" area */
  height: 300px;
  overflow: hidden;
  display: block;
  padding-left: 1em;
  margin: 0 auto;
}

video {
  width: 300px;
  overflow: hidden;
  height: auto;
  /* keeps aspect ratio */
  display: block;
  margin: 0 auto;
  /* center horizontally */
}

.kitaab-notes .video-wrapper {
  padding-top: 1em;
  width: 300px;
  /* set the "cropped" area */
  height: 280px;
  overflow: hidden;
  display: block;
  margin: 0 auto;
}

.kitaab-notes .video-wrapper video {
  width: 300px;
  overflow: hidden;
  height: auto;
  /* keeps aspect ratio */
  display: block;
  margin: 0 auto;
  /* center horizontally */
}

.img-text .link {
  font-size: 0.8em;
  text-transform: uppercase;
  font-family: "Velvelyne", monospace;
  margin: 0 auto;
  /* optional, ensures block centering */
  display: block;
  /* ensures block centering works */

  color: rgb(136, 132, 132);
}

.link,
.caption {
  text-align: center;
  display: block;

}

.caption {
  font-size: 0.8em;

}

.heading {
  /* font-style: italic; */
  font-size: 1.3em;
  font-family: "Hoover", monospace;
  margin: 0 auto;
  padding-top: 1em;

}

.description {
  font-size: 1em;
  /* font-style: italic; */
  color: rgb(0, 0, 0);
  font-family: "Velvelyne", monospace;
  margin: 0 auto;
  margin-bottom: -0.5em;

}

.link a,
.caption a {
  color: rgb(136, 132, 132);
  /* applies to <a> inside both classes */
}

.link a:hover,
.caption a:hover {
  color: rgb(21, 0, 255);
  /* applies on hover for <a> inside both classes */
}

.custom {
  font-style: italic;
}

::-webkit-scrollbar {
  background: none;
}



@media only screen and (max-width: 900px) {

  html,
  body {
    padding: 0 0 2em 0;
    overflow-y: auto;
     height: auto;
  }

  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
  }

  * {
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
  }

  /* IE/Edge (legacy) */
  * {
    -ms-overflow-style: none;
  }

  .item-container-mobile {
    display: grid;
    grid-template-rows: 2fr auto;
    grid-template-columns: 1fr;
    column-gap: 4em;
    /* overflow-y: visible;
    height: 100%; */
    /* overflow: visible !important; 14/12*/
    height: auto !important;
  }


  .img-gallery#installation,
  .img-gallery {

    min-height: 300px;

    margin: 0 auto;
    padding: 0;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    scroll-snap-type: x mandatory;
    align-items: center;
      -webkit-overflow-scrolling: touch;
  touch-action: pan-x pan-y;
  
  }

  .img-gallery.sliding {
    margin-left: 0em;
    margin-bottom: 1em;
  }

  .img-gallery#installation>div,
  .img-gallery>div {
    flex: 0 0 100%;
    scroll-snap-align: center;

  }


  .img-gallery#installation {
    margin-left: 0em;
  }

  /* images */
  .img-gallery#installation img,
  .img-gallery img {
    max-height: 400px;
    display: block;
    object-fit: contain;
  }
  .margin-bottom-text{
  margin-bottom: 3em;
}


  /* 
  .img-gallery#transfiguration {
    margin-bottom: 3em;
    margin-left: 0;
  } */


  .singular-gallery img {

    width: 80%;
    height: auto;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.4em 0 4em 0;
  }



  /* img text */
  .img-text {

    line-height: 20px;
    margin-top: 1.2em;
    letter-spacing: 1px;
    transform: scaleY(1.2);
    font-size: 0.7em;

    height: auto;

    /* overflow: visible; 14/12*/
    max-width: 80%;
    text-align: justify;
    justify-content: justify;

  }


  .heading,
  .description {
    padding: 0;
    margin: 0;
  }

  .img-text .link {
    margin: 0 auto;
    display: block;
    padding-top: 1.5em;

  }



  .img-text p {
    padding-bottom: 2em;
  }

  .img-text .link p {
    padding: 0;
    margin: 0;
    display: inline;
  }


  .img-text.mobile-margin {
    margin-top: 5em;

  }

  #ziddi img {
    max-height: 250px;
    /* or whatever looks good */
    max-width: 85vw;
    /* keeps it responsive */
    object-fit: contain;
    margin: 0 auto;
    display: block;
  }

  /* #transfiguration img {
    max-height: 250px;
    max-width: 50vw;
    object-fit: contain;
    display: block;
  } */

  #notes {
    padding-bottom: 4em;


  }

  .video-wrapper {
    width: 200px;
    /* set the "cropped" area */
    height: 200px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
  }

  video {
    width: 200px;
    overflow: hidden;
    height: auto;
    /* keeps aspect ratio */
    display: block;
    margin: 0 auto;
  }

  .wider-video-wrapper {

    width: 100%;
    /* full width of container */
    max-width: 600px;

  

  }

  .wider-video-video {
    width: 100%;
    /* fills container width */
    height: auto;
    /* keeps aspect ratio */
    display: block;
    /* removes extra spacing */
    object-fit: contain;
    /* ensures full video is visible */
    max-height: 600px;
  }

  #reference-gallery{
      scroll-snap-type: x proximity;

-webkit-overflow-scrolling: touch;
  touch-action: pan-x pan-y;
    overscroll-behavior-x: contain;
  overscroll-behavior-y: auto;
  }


#reference-gallery.reference-gallery-wombtemples img {
  max-height: 300px;

}

#reference-gallery>div {
  flex: 0 0 auto;
  /* scroll-snap-align: center; */
    scroll-snap-align: start;

  text-align: center;
  /* center text under image */
  margin: 0 0em;

}

#reference-gallery img {
  max-height: 200px;
  /* width: auto; */
  max-width: 80vw;
  display: block;
}
  #reference-gallery.reference-gallery-wombtemples img {
    max-height: 200px;
  
  }

}
